@import "tailwindcss";
* {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

*::-webkit-scrollbar {
  display: none;
}
.sidebar-enter {
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.gradient-bg {
  background: linear-gradient(135deg, #f97316 0%, #ea580c 50%, #c2410c 100%);
}
